.root {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.3s;

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--background);
  }

  &.selected {
    box-shadow: inset 0 0 1px 3px var(--accent);
  }

  &:hover {
    .deleteBtn {
      opacity: 1;
    }
  }

  @media (hover: none) {
    .deleteBtn {
      opacity: 1;
    }
  }
}

.input {
  min-width: 0;
  padding: 5px;
  flex: 1 1 auto;
  border-width: 2px;
  border-radius: 11px;
}

.title {
  padding: 7px;
  flex: 1 1 auto;
  word-break: break-all;

  &.completed {
    text-decoration: line-through;
    color: #b1b1b1;
  }
}

.deleteBtn {
  opacity: 0;
  transition: opacity 0.3s;
}
