.root {
  padding: 7px 13px;
  border-radius: 10px;
  border: 2px solid var(--accent);
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s;

  &:hover {
    color: var(--white);
    background-color: var(--accent);
  }
}

.clear {
  padding: 0;
  border: none;

  &:hover {
    color: var(--accent);
    background-color: transparent;
  }
}
