.root {
  width: 30px;
  aspect-ratio: 1;
  border: 2px solid var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;

  &.visible {
    opacity: 1;
  }
}
