.root {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  background: var(--secondary);

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
    grid-template-rows: repeat(2, 1fr);
  }
}

.filters {
  display: flex;
  gap: 10px;

  @media (max-width: 600px) {
    grid-row: 2;
    grid-column: span 2;
    justify-content: center;
  }
}

.clear {
  text-align: right;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.active {
  background-color: var(--primary);
}
