.root {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  background: var(--secondary);
}

.filters {
  display: flex;
  gap: 10px;
}

.clear {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.active {
  background-color: var(--accent);
}
