.root {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 15px;
}

.title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
